.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
h1{
    align-self: center;
}
h3{
    margin: 10px 0;
}
.explanation{
    text-align: justify;
    margin: 10px 0;
}
ul{
    margin: 0;
}
